<footer class="footer">
    <div class="container text-center">
      <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/sangeethathyagarajan/" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-github btn btn-link " href="https://github.com/sangeetha1317" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>